<%
  ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
  suits = ["clubs", "hearts", "spades", "diamonds"]

rank1 = ranks.sample
suit1 = suits.sample
rank2 = ranks.sample
suit2 = suits.sample
rank3 = ranks.sample
suit3 = suits.sample
rank4 = ranks.sample
suit4 = suits.sample
rank4 = ranks.sample
suit4 = suits.sample
%>

<h1>Welcome to the ENTR-451 Casino!</h1>

<ul>

deck = [ ]
for rank in ranks
    for suit in suits
        deck << "#{rank}_of_#{suit}"
    end
end
shuffled_deck = deck.shuffle
%>

<ul>
  <li><=%













  <ul